Hendrickson_GP2013.aux
Hendrickson_GP2013.log
Hendrickson_GP2013.nav
Hendrickson_GP2013.out
Hendrickson_GP2013.pyg
Hendrickson_GP2013.snm
Hendrickson_GP2013.synctex.gz
Hendrickson_GP2013.toc
Hendrickson_GP2013.vrb
minted.log
q.log
twitter_oneDay_onePercent.json.gz
.DS_store
