Hendrickson_DSBA2012.aux
Hendrickson_DSBA2012.log
Hendrickson_DSBA2012.nav
Hendrickson_DSBA2012.out
Hendrickson_DSBA2012.pyg
Hendrickson_DSBA2012.snm
Hendrickson_DSBA2012.synctex.gz
Hendrickson_DSBA2012.toc
minted.log
q.log
.DS_store
